#carousel-slide {
    padding: 100px 0 50px 0;
}
#modal-body-result {
    background-color: orange;
    border: 15px solid rgb(98, 92, 92);
}
.btn-select , .card-header {
    background-color: #FFA500;
}

.btn-selected {
    background-color: green;
}

.why1 {
    background-color: lightgoldenrodyellow;
}
.why2 {
    background-color: yellow;
}
.why3 {
    background-color: lightsalmon;
}